body{
    background-color: black;
    width: 70%;
    text-align: center;
    color: aqua;
    margin: auto;
    
}

main {
    display: grid;
    grid-template: 50px repeat(4, 1fr) / repeat(4, 1.5fr);
    height: 80vh;
    text-transform: uppercase;
    gap: 5px;
    justify-content: center;
    margin-top: 10vh;
}

main > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 50, 176);
}

.wide {
    grid-column: span 3;
}

.wider {
    grid-column: span 2;
}

.long {
    grid-row: span 3;
}

.longer {
    grid-row: span 2;
}

.first-row {
    border-color: blue;
}

main :nth-child(4) {
    background-color: rgb(49, 49, 49);
}

