
#uzduotis3 {
    h1 {
        text-align: center;
    }
}

.movieCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .image {    
        width: 25%;
        height: auto;
        object-fit: cover;
        position: relative;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;

        }

        .dataLocation {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            bottom: 25px;
            color: white;

            :first-child {
                border-radius: 0px 10px 10px 0px;
            }

            :last-child {
                border-radius: 10px 0px 0px 10px;
            }

            p {
                padding: 10px 10px;
                background-color: rgba(96, 16, 201, 0.712);
            }
        }


    }

    .text {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 25px 25px 0px;
        background-color: black;
        color: white;
        border-top: 5px solid  rgb(96, 16, 201);

        p {
            text-align: justify;
        }
    }
}
