@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

header {
    padding: 15px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 80px;
}

header button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

header button::before{
    font-size: 25px;
    margin: 0;
    padding: 0;
}

header:first-of-type img{
    height: 50px;
        margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

header nav p{
    margin: 0;
    padding: 0;
}

header nav img{
    border-radius: 50px;
    padding: 5px;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10vw;
}
main h1{
    margin-bottom: 50px;
}

#articles {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    width: 100%;
    gap: 15px;
}

article {
    width: 100%;
    background-color: aliceblue;
}

article img{
    width: 100%;
}

article h2,p{
    margin: 0px;
    padding: 0px 10px 10px 10px;
}

.tamsus {
    background-color: rgb(137, 140, 143);
}

.hide {
    display: none;
}