$pink: #FF3998;
$text-gray: #555555;
$text-pink: #FF3998;

#hero {
    display: flex;
    padding: 20px 0px 20px 20px;
    margin-bottom: 40px;

    
    .hero-image {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        width: 40%;
        position: relative;
        overflow: hidden;

        img{
            object-fit: cover;
            position: absolute;
            right: -90px;
            height: 70%;

        }
    }

    .hero-text {
        width: 70%;
    }

    .hero-text button{
        background-color: white;
        border: 3px solid $pink;
        padding: 10px 30px;
        border-radius: 50px;

        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;

    }

    h1{
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
    }

    h3{
        color: $pink;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    
    p{
        color: gray;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }
}