/* Normalize*/
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
/* Icons */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 150px;
}

body {
  font-family: "Yantramanav", sans-serif;
  width: 100%;
}
body a {
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
body h1 {
  letter-spacing: 4px;
}
body p {
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  background-color: white;
  z-index: 1000;
  width: 100%;
  height: 5vh;
  padding: 15px 15px 15px 35px;
}
header a {
  text-decoration: none;
  color: black;
}
header ul a:hover {
  color: #645cff;
}
header h1 {
  letter-spacing: 0px;
}
header h1 span {
  color: #645cff;
}
header ul {
  display: none;
  gap: 10px;
  list-style-type: none;
}
header .social-icons {
  display: flex;
  color: #645cff;
  font-size: 1.2rem;
  gap: 10px;
  margin-right: 65px;
}
header .social-icons i:hover {
  color: #9f9aff;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #645cff;
  height: 100vh;
  width: 100%;
  padding-top: 5vh;
}
#hero img {
  display: none;
}
#hero .hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50vh;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 0px 50px;
  z-index: 1;
}
#hero .hero-info h1 {
  font-weight: 400;
}
#hero .hero-info p {
  line-height: 2;
}
#hero .hero-info button {
  background-color: #645cff;
  border: 0px;
  box-shadow: 3px 3px 5px rgba(80, 71, 255, 0.5333333333);
  color: white;
  padding: 10px 10px;
}
#hero .hero-info button:hover {
  background-color: #382dff;
  box-shadow: 3px 3px 5px #645cff;
}
#hero .image img {
  display: none;
}

#about-us {
  padding: 50px 30px 70px;
}
#about-us h1 {
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
#about-us h2 {
  font-weight: 500;
  margin-top: 40px;
}
#about-us h1 span {
  color: #645cff;
}
#about-us img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#about-us p {
  text-align: justify;
}

#our-services {
  padding: 50px 30px 70px;
  background-color: #f8fbfc;
}
#our-services h1 {
  font-weight: 500;
  text-align: center;
}
#our-services h1 span {
  color: #645cff;
}
#our-services .services-grid {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 25px;
  margin-top: 50px;
}
#our-services .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-services .service-card p {
  font-weight: 300;
  text-align: center;
  color: #0e172a;
}
#our-services .service-card h3 {
  text-align: center;
  margin-bottom: 0px;
}
#our-services .service-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 45px;
  background-color: #645cff;
  font-size: 24px;
}

#featured-tours {
  padding: 50px 30px 70px;
}
#featured-tours h1 {
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}
#featured-tours h1 span {
  color: #645cff;
}
#featured-tours .image-date {
  position: relative;
  margin-bottom: -5px;
}
#featured-tours .image-date img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 30vh;
}
#featured-tours .image-date p {
  display: flex;
  position: absolute;
  top: 5px;
  padding: 5px;
  background-color: #645cff;
}
#featured-tours .tour-text {
  padding: 15px;
  box-shadow: 0px 1px 2px rgb(199, 199, 199);
  margin-bottom: 50px;
}
#featured-tours .tour-text h4 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}
#featured-tours .tour-text p {
  font-weight: 600;
}
#featured-tours .tour-card:hover .tour-text {
  box-shadow: 0px 5px 5px rgb(218, 218, 218);
}
#featured-tours .country-price {
  display: flex;
  justify-content: space-between;
}
#featured-tours .country-price .country-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: #645cff;
}
#featured-tours .all-tours {
  text-align: center;
}
#featured-tours .all-tours a:hover {
  color: #9f9aff;
}

#gallery {
  padding: 30px 0px 0px;
  background-color: #f8fbfc;
}
#gallery h1 {
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}
#gallery h1 span {
  color: #645cff;
}
#gallery div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  background-color: #645cff;
  width: 100%;
}
#gallery i {
  display: none;
  position: absolute;
}
#gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  background-color: #645cff;
  border-bottom: 5px solid #645cff;
  opacity: 100%;
  margin: 0px;
  padding: 0px;
}
#gallery img:hover {
  background-color: #382dff;
  opacity: 50%;
}
#gallery img:hover + i {
  display: block;
}

#subscription {
  padding: 30px 10px 50px;
  background-color: #645cff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#subscription h1 {
  font-weight: 500;
  text-align: center;
}
#subscription p {
  font-size: 16px;
  text-align: center;
}
#subscription form {
  display: flex;
  background-color: white;
  padding: 1px;
}
#subscription form input {
  border: 0px;
  padding: 5px 5px;
}
#subscription form input#email {
  margin-left: 5px;
  font-size: 12pxs;
}
#subscription form ::-moz-placeholder {
  color: black;
}
#subscription form :-ms-input-placeholder {
  color: black;
}
#subscription form ::placeholder {
  color: black;
}
#subscription form input[type=Submit]:hover {
  background-color: #645cff;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-color: #222222;
  color: white;
  padding: 50px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 12px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #645cff;
}
footer .social-icons {
  display: flex;
  gap: 10px;
  color: #645cff;
}
footer .social-icons i:hover {
  color: #9f9aff;
}
footer p {
  margin: 0px;
}

@media (min-width: 480px) {
  header ul {
    display: flex;
  }
  #hero img {
    display: block;
    width: 100%;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    opacity: 50%;
    height: 100vh;
  }
  #about-us .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  #about-us .about-content .about-image {
    border: 5px solid #645cff;
    width: 30vh;
    height: 25vh;
  }
  #about-us .about-content img {
    position: relative;
    top: 15px;
    left: 15px;
    width: 30vh;
    height: 25vh;
  }
  #our-services .services-grid {
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 25px;
    margin-top: 50px;
  }
  #our-services .service-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
  #our-services .service-card p {
    text-align: left;
  }
  #our-services .service-card .service-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #our-services .service-card .service-text h3 {
    margin: 0px;
  }
  #featured-tours .tour-grid {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 40px;
    margin-bottom: 70px;
  }
  #featured-tours .image-date img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 20vh;
  }
  #featured-tours .tour-text {
    margin-bottom: 0px;
  }
  #gallery .images {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #gallery .images img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 20vh;
    border-bottom: none;
  }
  #subscription {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  #subscription form input {
    border: 0px;
    padding: 5px 5px;
  }
  #subscription form input#email {
    margin-left: 5px;
    font-size: 12pxs;
  }
  #subscription form ::-moz-placeholder {
    color: black;
  }
  #subscription form :-ms-input-placeholder {
    color: black;
  }
  #subscription form ::placeholder {
    color: black;
  }
}/*# sourceMappingURL=main.css.map */